@charset "utf-8";

/*
 * ksuonline.se
 *
 * Kärnkraftsäkerhet och Utbildning AB 2014
 *
 */

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    background-color: #051207;
}
a {
    color: #eee;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 3em 0 0 0;

    background-color: #225b90;
    background-image: -webkit-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:    -moz-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:     -ms-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:      -o-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:   linear-gradient(to bottom, #225b90 0%, #227431 100%);
}
main .text-center {
    margin: 0 auto;
    width: 500px;
}
article {
    margin: 0;
    padding: 0 2em 0 3em;
    position: relative;
    z-index: 99;
}
section {
    width: 100%;
    text-align: left;
    -webkit-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
       -moz-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
         -o-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
            transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
    -webkit-transform: scale(0.98);
       -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
         -o-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 0;
}
.loaded section {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 2em;
    z-index: 100;

    background-color: #153859;
    background-image: url(../images/nav-noise.png);

    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 0.25em 0;
    text-align: left;
    color: #ccc;

    font-family: 'Open Sans', 'sans-serif';
    font-weight: 300;
    font-size: 1.1em;

    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 0 auto 2rem auto;
    width: 281px;
    height: 82px;

    background-image: url(../images/logo.png);
    background-repeat: no-repeat;

    direction: ltr;
    text-indent: -9999px;
}
h3, h4, h5 {
    margin: 0;
    color: #fff;

    font-size: 2.0em;
    font-weight: 300;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}
h4, h5, p {
    margin-right: 1em;
}
h3 {
    white-space: nowrap;
}
h5 {
    font-weight: normal;
}
h5#faq {
    padding-top: 1em;
    margin-top: 3em;
}
p {
    font-size: 1.2em;
    color: #fff;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}
p:last-child {
    margin-bottom: 0;
}

main ul {
    margin: 1rem 0 -1rem 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
main ul li {
    display: inline-block;
    position: relative;
}
main ul a {
    width: 209px;
    height: 545px;
    display: block;
    margin: 1rem 0;
    overflow: hidden;

    background-image: url(../images/people.png);
    background-repeat: no-repeat;
    background-size: 533px 1096px;

    direction: ltr;
    text-indent: -9999px;
}
main ul li:nth-child(1) a {
    width: 145px;
}
main ul li:nth-child(2) a {
    background-position: -163px top;
    margin-left: -0.9rem;
}
main ul li:nth-child(3) a {
    width: 155px;
    background-position: -410px top;
}
main ul li:nth-child(1) a:hover {
    background-position: left -555px;
}
main ul li:nth-child(2) a:hover {
    background-position: -163px -555px;
}
main ul li:nth-child(3) a:hover {
    background-position: -410px -555px;
}
main .downbutton {
    display: block;
    width: 53px;
    height: 53px;
    margin: 2em auto 18em auto;

    background-image: url(../images/down-button.png);
    background-repeat: no-repeat;
}

footer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    background-image: -webkit-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:    -moz-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:     -ms-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:      -o-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:   linear-gradient(to bottom, #227431 0%, #FFF700 90%, #051207);
}
#parallax {
    height: 314px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
footer .stars {
    position: absolute;
    width: 300%;
    top: 0;
    left: -100%;
    height: 314px;
    margin: 0;
    z-index: 1;

    background-image: url(../images/stars.png);
    background-repeat: repeat-x;
    background-position: top right;
}
footer .silhouette {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 113px;
    width: 100%;

    background-image: url(../images/silhouette.png);
    background-repeat: no-repeat;
}
footer .bottomless {
    position: relative;
    top: -1px; /* prevent gap when <100% zoom. */
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #051207;
    color: #eee;
}
footer .ksu-logo {
    position: absolute;
    left: 1.25em;
    bottom: 2.25em;
}
footer .ksu-text {
    position: absolute;
    left: 1em;
    bottom: 0.75em;
    margin: 0;
}

.courses.flipOutX, .titles.flipOutX {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
            animation-duration: 0.25s;
}
.courses, .titles {
    display: inline-block;
}
.titles.flipOutX {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
            animation-duration: 0.25s;
}

form {
    margin: 0 auto;
    width: 22em;

    -webkit-animation: login 1s ease-in-out;
       -moz-animation: login 1s ease-in-out;
        -ms-animation: login 1s ease-in-out;
         -o-animation: login 1s ease-in-out;
            animation: login 1s ease-in-out;
}
label {
    display: none;
}
.err {
    color: #fcc;
}
input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    height: 3em;
    margin: 0.5em 0 0 0;
    padding-left: 1em;

    font-size: 1em;
    color: #444;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;

    background-image: -webkit-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:    -moz-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:     -ms-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:      -o-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:         linear-gradient(bottom, #fff 0%, #f2f2f2 100%);

    -webkit-box-shadow: inset 0 2px 0 #d9d9d9;
       -moz-box-shadow: inset 0 2px 0 #d9d9d9;
            box-shadow: inset 0 2px 0 #d9d9d9;

    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
    margin: 0;
}
input:first-child {
    margin-top: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline: none;
    border: 2px solid rgba(65, 117, 5, .7);
    -webkit-box-shadow: inset 0 2px 0 #b7cc9f;
       -moz-box-shadow: inset 0 2px 0 #b7cc9f;
            box-shadow: inset 0 2px 0 #b7cc9f;
}
button[type="submit"] {
    width: 100%;
    height: 2.6em;
    margin-top: 7px;
    color: #fff;
    cursor: pointer;

    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 6px;

    font-size: 1.2em;
    text-shadow: 0 1px 0 #417505;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;

    background-color: #417505;
    background-image: -webkit-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:    -moz-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:     -ms-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:      -o-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:         linear-gradient(bottom, #417505 0%, #386604 100%);

    -webkit-box-shadow: inset 0 1px 0 #4D8C06;
       -moz-box-shadow: inset 0 1px 0 #4D8C06;
            box-shadow: inset 0 1px 0 #4D8C06;

    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}
button[type="submit"]:hover {
    margin-top: 10px;
    margin-bottom: -3px;

    border: 1px solid rgba(255, 255, 255, .3);
    background-color: #4d8c06;
    background-image: none;

    -webkit-box-shadow: inset 0 1px 0 #b7cc9f;
       -moz-box-shadow: inset 0 1px 0 #b7cc9f;
            box-shadow: inset 0 1px 0 #b7cc9f;
}
button[type="submit"]:active {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: #4d8c06;
    background-image: -webkit-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:    -moz-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:     -ms-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:      -o-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:         linear-gradient(bottom, #4d8c06 0%, #417505 100%);

    -webkit-box-shadow: inset 0 1px 0 #b7cc9f;
       -moz-box-shadow: inset 0 1px 0 #b7cc9f;
            box-shadow: inset 0 1px 0 #b7cc9f;
}

@media screen and (max-width: 600px) and (min-width: 541px) {
    h3, h4, h5 { font-size: 1.78em; }
    main p { font-size: 1em; }
    main .text-center { width: 450px; }
    main ul li a {
        background-size: 480px;
        width: 188px;
        height: 491px;
    }
    main ul li:nth-child(1) a { width: 131px; }
    main ul li:nth-child(2) a { background-position: -145px top; }
    main ul li:nth-child(3) a {
        width: 140px;
        background-position: -369px top;
    }
    main ul li:nth-child(1) a:hover { background-position: left -500px; }
    main ul li:nth-child(2) a:hover { background-position: -145px -500px; }
    main ul li:nth-child(3) a:hover { background-position: -369px -500px; }
}

@media screen and (max-width: 540px) and (min-width: 480px) {
    h3, h4, h5 { font-size: 1.55em; }
    main p { font-size: 0.95em; }
    main .text-center { width: 410px; }
    main ul li a {
        background-size: 426px;
        width: 167px;
        height: 436px;
    }
    main ul li:nth-child(1) a { width: 116px; }
    main ul li:nth-child(2) a { background-position: -127px top; }
    main ul li:nth-child(3) a {
        width: 124px;
        background-position: -328px top;
    }
    main ul li:nth-child(1) a:hover { background-position: left -443px; }
    main ul li:nth-child(2) a:hover { background-position: -127px -443px; }
    main ul li:nth-child(3) a:hover { background-position: -328px -443px; }
}

@media screen and (max-width: 480px) {
    h3, h4, h5 { font-size: 1.4em; }
    main p { font-size: 0.9em; }
    main .text-center { width: 370px; }
    main ul li a {
        background-size: 373px;
        width: 146px;
        height: 382px;
    }
    main ul li:nth-child(1) a { width: 102px; }
    main ul li:nth-child(2) a { background-position: -110px top; }
    main ul li:nth-child(3) a {
        width: 109px;
        background-position: -287px top;
    }
    main ul li:nth-child(1) a:hover { background-position: left -388px; }
    main ul li:nth-child(2) a:hover { background-position: -110px -388px; }
    main ul li:nth-child(3) a:hover { background-position: -287px -388px; }
}

@media screen and (max-width: 430px) {
    article { padding: 0 0 10px 0; }
}
