@charset "utf-8";

/*
 * ksuonline.se
 *
 * Kärnkraftsäkerhet och Utbildning AB 2014
 *
 */

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}
a {
    color: #eee;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 3em 0 0 0;
    background-color: #225b90;
    background-image: -webkit-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:    -moz-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:     -ms-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:      -o-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:   linear-gradient(to bottom, #225b90 0%, #227431 100%);
}
main .text-center {
    margin: 0 auto;
    width: 500px;
}
article {
    min-height: 200vh;
    padding: 0 2em 25px 3em;
}
section {
    width: 100%;
    text-align: left;
    -webkit-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
       -moz-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
         -o-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
            transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
    -webkit-transform: scale(0.98);
       -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
         -o-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 0;
}
.loaded section {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 2em;
    z-index: 100;

    background-color: #153859;
    background-image: url(../images/nav-noise.png);

    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 0.25em 0;
    text-align: left;
    color: #ccc;

    font-family: 'Open Sans', 'sans-serif';
    font-weight: 300;
    font-size: 1.1em;

    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 0 auto 2rem auto;
    width: 281px;
    height: 82px;

    background-image: url(../images/logo.png);
    background-position: left top;
    background-repeat: no-repeat;

    direction: ltr;
    text-indent: -9999px;
}
h3, h4, h5 {
    margin: 0;
    color: #fff;

    font-size: 2.0em;
    font-weight: 300;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}
h4, h5, p {
    margin-right: 1em;
}
h3 {
    white-space: nowrap;
}
h4 {
    margin-bottom: 10em;
}
h5 {
    font-weight: normal;
}
p {
    font-size: 1.2em;
    color: #fff;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}

main ul {
    margin: 1rem 0 -1rem 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
main ul li {
    display: inline-block;
    position: relative;
}
main ul a {
    width: 209px;
    height: 545px;
    display: block;
    margin: 1rem 0;
    overflow: hidden;

    background-image: url(../images/people.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 533px 1096px;

    direction: ltr;
    text-indent: -9999px;
}
main ul li:nth-child(1) a {
    width: 145px;
    background-position: left top;
}
main ul li:nth-child(2) a {
    background-position: -163px top;
    margin-left: -0.9rem;
}
main ul li:nth-child(3) a {
    width: 155px;
    background-position: -410px top;
}
main ul li:nth-child(1) a:hover {
    background-position: left -555px;
}
main ul li:nth-child(2) a:hover {
    background-position: -163px -555px;
}
main ul li:nth-child(3) a:hover {
    background-position: -410px -555px;
}

footer {
    position: relative;
    width: 100%;
    z-index: 0;
    margin: 0;
    padding-top: 2em;

    background-image: -webkit-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:    -moz-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:     -ms-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:      -o-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:   linear-gradient(to bottom, #227431 0%, #FFF700 90%, #051207);
}
footer .stars {
    position: absolute;
    top: 0;
    left: 0;
    height: 314px;
    width: 100%;
    margin: 0;
    z-index: 1;

    background-image: url(../images/stars.png);
    background-position: left top;
    background-repeat: repeat-x;
}
footer .silhouette {
    position: relative;
    height: 113px;
    width: 100%;
    z-index: 2;
    margin: 169px 0 0 0;

    background-image: url(../images/silhouette.png);
    background-position: left top;
    background-repeat: no-repeat;
}
footer .bottomless {
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #051207;
    color: #eee;
}
footer .ksu-logo {
    position: absolute;
    left: 1.25em;
    bottom: 2.25em;
}
footer .ksu-text {
    position: absolute;
    left: 1em;
    bottom: 0.75em;
    margin: 0;
}

.courses.flipOutX {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
            animation-duration: 0.25s;
}
.titles.flipOutX {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
            animation-duration: 0.25s;
}

@media screen and (max-width: 600px) and (min-width: 541px) {
    h3, h4, h5 { font-size: 1.78em; }
    main p { font-size: 1em; }
    main .text-center { width: 450px; }
    main ul li a {
        background-size: 480px;
        width: 188px;
        height: 491px;
    }
    main ul li:nth-child(1) a { width: 131px; }
    main ul li:nth-child(2) a { background-position: -145px top; }
    main ul li:nth-child(3) a {
        width: 140px;
        background-position: -369px top;
    }
    main ul li:nth-child(1) a:hover { background-position: left -500px; }
    main ul li:nth-child(2) a:hover { background-position: -145px -500px; }
    main ul li:nth-child(3) a:hover { background-position: -369px -500px; }
}

@media screen and (max-width: 540px) and (min-width: 480px) {
    h3, h4, h5 { font-size: 1.55em; }
    main p { font-size: 0.95em; }
    main .text-center { width: 410px; }
    main ul li a {
        background-size: 426px;
        width: 167px;
        height: 436px;
    }
    main ul li:nth-child(1) a { width: 116px; }
    main ul li:nth-child(2) a { background-position: -127px top; }
    main ul li:nth-child(3) a {
        width: 124px;
        background-position: -328px top;
    }
    main ul li:nth-child(1) a:hover { background-position: left -443px; }
    main ul li:nth-child(2) a:hover { background-position: -127px -443px; }
    main ul li:nth-child(3) a:hover { background-position: -328px -443px; }
}

@media screen and (max-width: 480px) {
    h3, h4, h5 { font-size: 1.4em; }
    main p { font-size: 0.9em; }
    main .text-center { width: 370px; }
    main ul li a {
        background-size: 373px;
        width: 146px;
        height: 382px;
    }
    main ul li:nth-child(1) a { width: 102px; }
    main ul li:nth-child(2) a { background-position: -110px top; }
    main ul li:nth-child(3) a {
        width: 109px;
        background-position: -287px top;
    }
    main ul li:nth-child(1) a:hover { background-position: left -388px; }
    main ul li:nth-child(2) a:hover { background-position: -110px -388px; }
    main ul li:nth-child(3) a:hover { background-position: -287px -388px; }
}

@media screen and (max-width: 430px) {
    article { padding: 0 0 10px 0; }
}
