@charset "utf-8";

/*
 * ksuonline.se
 *
 * Kärnkraftsäkerhet och Utbildning AB 2014
 *
 */

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    background-color: #051207;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #eee;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 3em 0 0 0;

    background-color: #225b90;
    background-image: -webkit-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:    -moz-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:     -ms-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:      -o-linear-gradient(top, #225b90 0%, #227431 100%);
    background-image:   linear-gradient(to bottom, #225b90 0%, #227431 100%);
}
main .text-center {
    margin: 0 auto;
    width: 500px;
}
article {
    margin: 0;
    padding: 0 2em 0 3em;
    position: relative;
    z-index: 99;
}
section {
    width: 100%;
    text-align: left;
    -webkit-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
       -moz-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
         -o-transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
            transition: -webkit-transform 0.8s, opacity 0.8s, padding 0.8s;
    -webkit-transform: scale(0.98);
       -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
         -o-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 0;
}
.loaded section {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 2em;
    z-index: 100;

    background-color: #153859;
    background-image: url(../images/nav-noise.png);

    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 0.25em 0;
    text-align: left;
    color: #ccc;

    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 1.1em;

    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 0 auto 2rem auto;
    width: 281px;
    height: 82px;

    background-image: url(../images/logo.png);
    background-repeat: no-repeat;

    direction: ltr;
    text-indent: -9999px;
}
h3, h4, h5 {
    margin: 0;
    color: #fff;

    font-size: 2.0em;
    font-weight: 400;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}
h4, h5, p {
    margin-right: 1em;
}
h3 {
    white-space: nowrap;
}
h5 {
    font-weight: normal;
}
h5#faq {
    padding-top: 1em;
    margin-top: 3em;
}
p {
    font-size: 1.2em;
    color: #fff;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}
p:last-child {
    margin-bottom: 0;
}

main ul {
    margin: 1rem 0 -1rem 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
main ul li {
    display: inline-block;
    position: relative;
}
main ul a {
    width: 132px;
    height: 549px;
    display: block;
    margin: 1rem 0;
    overflow: hidden;

    background-image: url(../images/people.png);
    background-repeat: no-repeat;
    background-size: 625px 1098px;

    direction: ltr;
    text-indent: -9999px;
}
main ul li:nth-child(1) a {
    background-position: -38px top;
}
main ul li:nth-child(2) a {
    background-position: -211px top;
    width: 213px;
    margin-left: -0.8rem;
    margin-right: -1.3rem;
}
main ul li:nth-child(3) a {
    width: 136px;
    background-position: -453px top;
}
main ul li:nth-child(1) a:hover {
    background-position: -38px -549px;
}
main ul li:nth-child(2) a:hover {
    background-position: -206px -549px;
}
main ul li:nth-child(3) a:hover {
    background-position: -453px -549px;
}
main .downbutton {
    display: block;
    width: 53px;
    height: 53px;
    margin: 2em auto 18em auto;

    background-image: url(../images/down-button.png);
    background-repeat: no-repeat;
}

footer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    background-image: -webkit-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:    -moz-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:     -ms-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:      -o-linear-gradient(top, #227431 0%, #FFF700 90%, #051207);
    background-image:   linear-gradient(to bottom, #227431 0%, #FFF700 90%, #051207);
}
#parallax {
    height: 314px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
footer .stars {
    position: absolute;
    width: 300%;
    top: 0;
    left: -100%;
    height: 314px;
    margin: 0;
    z-index: 1;

    background-image: url(../images/stars.png);
    background-repeat: repeat-x;
    background-position: top right;
}
footer .silhouette {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 113px;
    width: 100%;

    background-image: url(../images/silhouette.png);
    background-repeat: no-repeat;
}
footer .bottomless {
    position: relative;
    top: -1px; /* prevent gap when <100% zoom. */
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #051207;
    color: #eee;
}
footer .ksu-logo {
    position: absolute;
    left: 1.25em;
    bottom: 2.25em;
}
footer .ksu-text {
    position: absolute;
    left: 1em;
    bottom: 0.75em;
    margin: 0;
}

.courses.flipOutX, .titles.flipOutX {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
            animation-duration: 0.25s;
}
.courses, .titles {
    display: inline-block;
}
.titles.flipOutX {
    -webkit-animation-duration: 0.25s;
       -moz-animation-duration: 0.25s;
            animation-duration: 0.25s;
}

form {
    margin: 0 auto;
    width: 22em;

    -webkit-animation: login 1s ease-in-out;
       -moz-animation: login 1s ease-in-out;
        -ms-animation: login 1s ease-in-out;
         -o-animation: login 1s ease-in-out;
            animation: login 1s ease-in-out;
}
label {
    display: none;
}
.err {
    color: #fcc;
}
input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    height: 3em;
    margin: 0.5em 0 0 0;
    padding-left: 1em;

    font-size: 1em;
    color: #444;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;

    background-image: -webkit-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:    -moz-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:     -ms-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:      -o-linear-gradient(bottom, #fff 0%, #f2f2f2 100%);
    background-image:         linear-gradient(bottom, #fff 0%, #f2f2f2 100%);

    -webkit-box-shadow: inset 0 2px 0 #d9d9d9;
       -moz-box-shadow: inset 0 2px 0 #d9d9d9;
            box-shadow: inset 0 2px 0 #d9d9d9;

    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
    margin: 0;
}
input:first-child {
    margin-top: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline: none;
    border: 2px solid rgba(65, 117, 5, .7);
    -webkit-box-shadow: inset 0 2px 0 #b7cc9f;
       -moz-box-shadow: inset 0 2px 0 #b7cc9f;
            box-shadow: inset 0 2px 0 #b7cc9f;
}
button[type="submit"] {
    width: 100%;
    height: 2.6em;
    margin-top: 7px;
    color: #fff;
    cursor: pointer;

    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 6px;

    font-size: 1.2em;
    text-shadow: 0 1px 0 #417505;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;

    background-color: #417505;
    background-image: -webkit-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:    -moz-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:     -ms-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:      -o-linear-gradient(bottom, #417505 0%, #386604 100%);
    background-image:         linear-gradient(bottom, #417505 0%, #386604 100%);

    -webkit-box-shadow: inset 0 1px 0 #4D8C06;
       -moz-box-shadow: inset 0 1px 0 #4D8C06;
            box-shadow: inset 0 1px 0 #4D8C06;

    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}
button[type="submit"]:hover {
    margin-top: 10px;
    margin-bottom: -3px;

    border: 1px solid rgba(255, 255, 255, .3);
    background-color: #4d8c06;
    background-image: none;

    -webkit-box-shadow: inset 0 1px 0 #b7cc9f;
       -moz-box-shadow: inset 0 1px 0 #b7cc9f;
            box-shadow: inset 0 1px 0 #b7cc9f;
}
button[type="submit"]:active {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: #4d8c06;
    background-image: -webkit-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:    -moz-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:     -ms-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:      -o-linear-gradient(bottom, #4d8c06 0%, #417505 100%);
    background-image:         linear-gradient(bottom, #4d8c06 0%, #417505 100%);

    -webkit-box-shadow: inset 0 1px 0 #b7cc9f;
       -moz-box-shadow: inset 0 1px 0 #b7cc9f;
            box-shadow: inset 0 1px 0 #b7cc9f;
}

@media screen and (max-width: 600px) and (min-width: 541px) {
    h3, h4, h5 { font-size: 1.78em; }
    main p { font-size: 1em; }
    main .text-center { width: 450px; }
    main ul li a {
        background-size: 563px; /* 625px * 0.9 */
        width: 119px; /* 132px * 0.9 */
        height: 494px; /* 549px * 0.9 */
    }
    main ul li:nth-child(1) a {
        background-position: -34px top; /* -38px * 0.9 */
    }
    main ul li:nth-child(2) a {
        width: 192px; /* 213px * 0.9 */
        background-position: -190px top; /* -211px * 0.9 */
        margin-left: -0.7rem; /* -0.8rem * 0.9 */
        margin-right: -1.2rem; /* -1.3rem * 0.9 */
    }
    main ul li:nth-child(3) a {
        width: 122px; /* 136px * 0.9 */
        background-position: -408px top; /* -453px * 0.9 */
    }
    main ul li:nth-child(1) a:hover { background-position: -34px -494px; }
    main ul li:nth-child(2) a:hover { background-position: -186px -494px; }
    main ul li:nth-child(3) a:hover { background-position: -408px -494px; }
}

@media screen and (max-width: 540px) and (min-width: 480px) {
    h3, h4, h5 { font-size: 1.55em; }
    main p { font-size: 0.95em; }
    main .text-center { width: 410px; }
    main ul li a {
        background-size: 500px; /* 625px * 0.8 */
        width: 106px; /* 132px * 0.8 */
        height: 439px; /* 549px * 0.8 */
    }
    main ul li:nth-child(1) a {
        background-position: -30px top; /* -38px * 0.8 */
    }
    main ul li:nth-child(2) a {
        width: 170px; /* 213px * 0.9 */
        background-position: -169px top; /* -211px * 0.8 */
        margin-left: -0.6rem; /* -0.8rem * 0.8 */
        margin-right: -1.0rem; /* -1.3rem * 0.8 */
    }
    main ul li:nth-child(3) a {
        width: 109px; /* 136px * 0.8 */
        background-position: -362px top; /* -453px * 0.8 */
    }
    main ul li:nth-child(1) a:hover { background-position: -30px -439px; }
    main ul li:nth-child(2) a:hover { background-position: -165px -439px; }
    main ul li:nth-child(3) a:hover { background-position: -362px -439px; }
}

@media screen and (max-width: 480px) and (min-width: 431px) {
    h3, h4, h5 { font-size: 1.4em; }
    main p { font-size: 0.95em; }
    main .text-center { width: 370px; }
    main ul { margin-top: -0.5rem; }
    main ul li a {
        background-size: 438px; /* 625px * 0.7 */
        width: 92px; /* 132px * 0.7 */
        height: 384px; /* 549px * 0.7 */
    }
    main ul li:nth-child(1) a {
        background-position: -27px top; /* -38px * 0.7 */
    }
    main ul li:nth-child(2) a {
        width: 149px; /* 213px * 0.7 */
        background-position: -148px top; /* -211px * 0.7 */
        margin-left: -0.6rem; /* -0.8rem * 0.7 */
        margin-right: -0.95rem; /* -1.3rem * 0.7 */
    }
    main ul li:nth-child(3) a {
        width: 95px; /* 136px * 0.7 */
        background-position: -317px top; /* -453px * 0.7 */
    }
    main ul li:nth-child(1) a:hover { background-position: -27px -384px; }
    main ul li:nth-child(2) a:hover { background-position: -144px -384px; }
    main ul li:nth-child(3) a:hover { background-position: -317px -384px; }
}

@media screen and (max-width: 430px) {
    h3, h4, h5 { font-size: 1.35em; }
    main p { font-size: 0.95em; }
    main .text-center { width: 370px; }
    nav { font-size: 85%; }
    article { padding: 0 0 10px 0; }
    main ul { margin-top: -0.5rem; }
    main ul li a {
        background-size: 375px; /* 625px * 0.6 */
        width: 79px; /* 132px * 0.6 */
        height: 329px; /* 549px * 0.6 */
    }
    main ul li:nth-child(1) a {
        background-position: -23px top; /* -38px * 0.6 */
    }
    main ul li:nth-child(2) a {
        width: 128px; /* 213px * 0.6 */
        background-position: -127px top; /* -211px * 0.6 */
        margin-left: -0.5rem; /* -0.8rem * 0.6 */
        margin-right: -0.8rem; /* -1.3rem * 0.6 */
    }
    main ul li:nth-child(3) a {
        width: 82px; /* 136px * 0.6 */
        background-position: -272px top; /* -453px * 0.6 */
    }
    main ul li:nth-child(1) a:hover { background-position: -23px -329px; }
    main ul li:nth-child(2) a:hover { background-position: -124px -329px; }
    main ul li:nth-child(3) a:hover { background-position: -272px -329px; }
}

@media screen and (max-width: 320px) {
    h3, h4 { font-size: 1.2em; }
    nav { font-size: 75%; }
    main .text-center { width: 312px; overflow: hidden; }
    article { padding: 0 4px 10px 4px; }
}
